<div class="modal" [ngClass]="{ 'is-active': isVisible }">
  <div class="modal-background" (click)="onClose()"></div>
  <div class="modal-content">
    <div class="box">
      <h1 class="title">{{ modalTitle }}</h1>
      <div class="content">
        <p><strong>ID:</strong> {{ category.id }}</p>
        <p><strong>Name:</strong> {{ category.name }}</p>
        <img [src]="category.image" alt="{{ category.name }}">
        <p><strong>Parent Category:</strong> {{ category.parent }}</p>
      </div>
      <button class="button is-light" (click)="onClose()">Close</button>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="onClose()"></button>
</div>
