<!-- <div class="modal" [ngClass]="{ 'is-active': isVisible }">
  <div class="modal-background" (click)="close()"></div>
  <div class="modal-content">
    <div class="box">
      <h1 class="title">{{ modalTitle }}</h1>
      <form (ngSubmit)="save()">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="category.name" name="name" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Image URL</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="category.image" name="image" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Parent Category</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="category.parent" name="parent">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Save</button>
          </div>
          <div class="control">
            <button class="button is-light" type="button" (click)="close()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="close()"></button>
</div> -->
